.acordeon {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
  border: 1px solid #fff;
  border-radius: 1rem;
}

/*Estilização do Borão de Skills, Idioma, Portifólio e Experiência Profissional*/
.acordeon .btn_acordeon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 2rem;
  background-color: transparent;
  border: none;
  border-radius: 1rem;
  color: #fff;
}

.acordeon {
  background-color: #ac324250;
  border: none;
  border-radius: 1rem;
}

.acordeon.open,
.btn_acordeon:hover {
  cursor: pointer;
  border: none;
  background-color: #ac324250;
}

.acordeon .btn_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  text-align: start;
  width: 100%;
}

/*Estilo das seta que abre expande o leque*/
.btn_title::after {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/icons/arrow-top.svg");
  transition: 0.60s;
}

/*Virar a seta para baixo*/
.acordeon.open .btn_title::after {
  transform: rotate(180deg);
}

.acordeon.content{
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  padding: 1.5rem;
}
/*Organiza os elementos com flex box dentro de todas as classes .content*/
.acordeon.open .content {
  display:none;
  height: auto;
  opacity: 1;
}
