*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style-type:none;
}

@font-face{
    font-family: 'Neue Machina';
    src: url('/assets/fonts/neuemachina-regular.otf');
}

body{
    content: '';
    width:auto;
    height: auto;
    background: linear-gradient(-45deg,#222E7D,#AB446A, #AC3243, #781F29, #2A0A0E, #03010A, #03010A, #03010a, #03010A, #03010A, #2A0A0E,#781F29, #AC3243, #AB446A, #222E7D);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: -1;
    color: #fff;
}

.main{
    padding: 1rem; 
    margin: .75rem;
    border: solid .1rem white;
    border-radius: 15px;   
}

a{
    text-decoration: none;
    color: #fff;
}

@media only screen and (min-width: 768px){
    .main{
        max-width: 1024px;
        margin: 0 auto;
    }

    .main::before{
        width: 70vw;
    }

    .main::after{
        width: 70vw;
    }

}